%flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin mediaLanding {
  body {
    header {
      .navBar {
        padding-left: 70px;
        #headlines {
          padding-right: 70px;
        }
      }
    }
    main {
      height: 100vh;
      background: url("../assets/heroimg.jpg") no-repeat;
      background-size: 100%;
      h1 {
        font-size: 3.8rem;
        letter-spacing: 18px;
      }
    }
    .aboutThermo {
      height: 100vh;
      .textContainer {
        width: 900px;
        h4 {
          font-size: 1.6rem;
        }
        p {
          font-size: 1.2rem;
          padding-left: 20px;
          padding-right: 20px;
          line-height: 40px;
        }
      }
    }

    footer {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}

@mixin mediaCheckout {
  body {
    header {
      .brandName {
        padding-left: 30px;
      }
    }
    footer {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}

@mixin mediaProducts {
  body {
    header {
      padding-right: 35px;
      .brandName {
        padding-left: 30px;
      }
    }

    main {
      .productContainerStyle {
        width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        div {
          width: 280px;
          img {
          }
          h2 {
            font-size: 1rem;
          }
          span {
          }

          span {
          }
          .btnDivStyle {
            width: 270px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 5px;
          }
        }
      }
    }
    footer {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}
