%flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%formflex {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

@mixin footerMobile {
  footer {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid lightgray;
    #footerInfo {
      width: 450px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h4 {
        padding-top: 40px;
        padding-bottom: 10px;
        margin: 0px;
        text-transform: uppercase;
        font-size: 0.9rem;
        text-align: center;
      }
      p {
        padding: 0px;
        margin: 0px;
        font-size: 0.9rem;
        text-align: center;
        list-style: none;
        a {
          text-decoration: none;
          color: black;
          &:hover {
            font-weight: bold;
          }
        }
      }
    }
    #footerIcons {
      padding-top: 60px;
      padding-bottom: 60px;
      width: 450px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      a {
        padding-top: 10px;
        letter-spacing: 1px;
        font-weight: bold;
        text-decoration: none;
        color: black;
      }
    }
  }
}

@mixin cartBtnStyle {
  border-style: none;
  background-color: transparent;
  margin-right: 15px;
  line-height: 1;
  color: black;
  font-size: 0.8rem;
  text-align: right;
  cursor: pointer;
}

@mixin checkoutModal {
  #checkoutModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    .modal-content {
      text-align: center;
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      width: 45%;
      height: 320px;
      border: 1px solid #888;
      .startpage {
        a {
          text-decoration: none;
          color: #aaa;
          float: right;
          font-size: 1.2rem;
          &:hover,
          &:focus {
            color: black;
            cursor: pointer;
            text-decoration: none;
          }
        }
      }

      #checkout-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
          text-transform: uppercase;
          padding-top: 10px;
          font-size: 1rem;
          letter-spacing: 1px;
        }
        .textDiv {
          font-size: 0.8rem;
          text-align: center;
        }
      }
    }
  }
}

@mixin modalstyle {
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    .modal-content {
      background-color: #fefefe;
      margin: 5% auto;
      padding: 20px;
      width: 72%;
      height: 650px;
      border: 1px solid #888;
      overflow: scroll;
      .disappear {
        color: #aaa;
        float: right;
        font-size: 1rem;
        &:hover,
        &:focus {
          color: black;
          cursor: pointer;
          text-decoration: none;
        }
      }
      .emptyDivStyle {
        text-align: center;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 4px;
        transform: translate(0px, 100px);
        .smileyStyle {
          font-size: 5rem;
        }
      }
    }
  }
}

@mixin mediaLanding {
  body {
    header {
      .navBar {
        .brandName {
          padding-left: 30px;
        }
        #headlines {
          padding-right: 35px;
        }
      }
    }
    main {
      #mainHeroImg {
        height: 100vh;
        background: url("../assets/heroimg.jpg") no-repeat;
        background-size: 100%;
        h1 {
          font-size: 3.8rem;
          letter-spacing: 18px;
        }
        p {
          width: 480px;
        }
      }
      .aboutThermo {
        height: 100vh;
        .textContainer {
          width: 800px;
          h4 {
            font-size: 1.6rem;
          }
          p {
            font-size: 1.2rem;
            padding-left: 20px;
            padding-right: 20px;
            line-height: 40px;
          }
        }
      }
    }

    footer {
      height: 300px;
      border-top: 1px solid lightgray;
      #footerInfo {
        width: 1500px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        h4 {
          padding-left: 30px;
          text-align: left;
        }
        p {
          padding-left: 30px;
          text-align: left;
        }
      }
      #footerIcons {
        width: 1500px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
    }
  }
}

@mixin mediaCheckout {
  body {
    header {
      .brandName {
        padding-left: 45px;
      }
    }
    main {
      #maincontainer {
        margin: 50px;
        display: flex;
        flex-direction: row;
        gap: 30px;
        #checkoutDiv {
          height: 585px;
          width: 400px;

          #summaryDiv {
            text-align: center;
            display: flex;
            justify-content: center;
            width: 400px;
            #table {
              width: 380px;
              padding-left: 10px;
            }
          }
        }
        #formContainer {
          width: 600px;
        }
        #checkoutModal {
          .modal-content {
            height: 400px;
            #checkout-content {
              h2 {
                font-size: 1.6rem;
              }
              .textDiv {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
    footer {
      height: 300px;
      border-top: 1px solid lightgray;
      #footerInfo {
        width: 1500px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        h4 {
          padding-left: 30px;
          text-align: left;
        }
        p {
          padding-left: 30px;
          text-align: left;
        }
      }
      #footerIcons {
        width: 1500px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
    }
  }
}

@mixin mediaProducts {
  body {
    header {
      padding-right: 35px;
      .brandName {
        padding-left: 30px;
      }
    }

    main {
      .productContainerStyle {
        width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        div {
          width: 280px;
          h2 {
            font-size: 1rem;
          }
          .btnDivStyle {
            width: 270px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 5px;
          }
        }
      }
    }
    footer {
      height: 300px;
      border-top: 1px solid lightgray;
      #footerInfo {
        width: 1500px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        h4 {
          padding-left: 30px;
          text-align: left;
        }
        p {
          padding-left: 30px;
          text-align: left;
        }
      }
      #footerIcons {
        width: 1500px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
    }
  }
}
