@use "mixins";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap%22");

html,
body {
  font-size: 12pt;
  font-family: "Roboto", sans-serif;
  margin: 0px auto;
  width: 100%;
  scroll-behavior: smooth;

  header {
    background-color: #ffffff;
    height: 50px;
    display: flex;
    border-bottom: 1px solid lightgray;
    .navBar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      padding-left: 25px;
      .brandName {
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-decoration: none;
        text-align: left;
      }
      #cartBtn {
        margin-right: 15px;
        padding-left: 1390px;
        line-height: 1;
        font-size: 0.75rem;
        color: black;
        text-align: right;
        cursor: pointer;
        position: absolute;
        &:hover {
          color:rgba(0, 0, 0, 0.8);
          transition: 0.1s ease-in;
        }
      }
      #headlines {
        height: 30px;
        padding: 0px;
        padding-right: 10px;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: none;
        .aboutBtn {
          text-decoration: none;
          color: black;
          padding-right: 40px;
          text-transform: uppercase;
          border-style: none;
          cursor: pointer;
          background-color: transparent;
        }
      }
    }
  }
  main {
    background: url("../assets/heroimgMobile.jpg") no-repeat;
    background-size: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      padding: 0px;
      margin: 0px;
      font-size: 2.8rem;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 14px;
    }
  }
  .aboutThermo {
    height: 100vh;
    border-bottom: 1px solid rgb(185, 183, 183);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    .textContainer {
      width: 450px;
      h4 {
        text-align: center;
        text-transform: uppercase;
      }
      p {
        font-size: 0.9rem;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        line-height: 25px;
      }
    }
  }

  #productContainer {
    display: none;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 62%;
    height: 550px;
    border: 1px solid #888;
    overflow: scroll;
    .disappear {
      color: #aaa;
      float: right;
      font-size: 1rem;
      &:hover,
      &:focus {
        color: black;
        cursor: pointer;
        text-decoration: none;
      }
    }
    .Jacka {
      letter-spacing: 3px;
      font-size: 40px;
      text-transform: uppercase;
      margin-top: 50px;
      position: absolute;
    }
    p {
      position: absolute;
      margin-top: 110px;
    }
  }

  footer {
    @extend %flex;
    a {
      color: black;
      text-decoration: none;
    }
    height: 150px;
    border-top: lightgrey 1px solid;
  }
}

@media screen and (min-width: 768px) {
  @include mixins.mediaLanding;
}
