@use "mixins";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap%22");

html,
body {
  font-size: 12pt;
  font-family: "Roboto", sans-serif;
  margin: 0px auto;
  width: 100%;

  header {
    background-color: #ffffff;
    height: 50px;
    display: flex;
    border-bottom: 1px solid lightgray;
    padding-left: 10px;
    .navBar {
      justify-content: space-between;
      align-items: center;
      .brandName {
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-decoration: none;
        padding-left: 15px;
      }
      #headlines {
        height: 30px;
        padding: 0px;
        padding-right: 10px;
        margin: 0px;
        display: flex;
        justify-content: center;
        border-bottom: none;
        button {
          padding-right: 40px;
          text-transform: uppercase;
          border-style: none;
          cursor: pointer;
          background-color: transparent;
        }
        #cart {
          margin-right: 15px;
          line-height: 1;
          color: black;
          font-size: 1.2rem;
        }
      }
    }
  }
  main {
    background-color: #ffffff;
    height: 500px;
    h1 {
      font-size: 2.8rem;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 14px;
      padding-top: 50px;
    }
  }
  .aboutThermo {
    height: 300px;
    border-bottom: 1px solid rgb(185, 183, 183);
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    .textContainer {
      width: 450px;
      h4 {
        text-align: center;
        text-transform: uppercase;
      }
      p {
        font-size: 0.9rem;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        line-height: 25px;
      }
    }
  }

  footer {
    @extend %flex;
    a {
      color: black;
      text-decoration: none;
    }
    height: 150px;
    border-top: lightgrey 1px solid;
  }
}

@media screen and (min-width: 768px) {
  @include mixins.mediaLanding;
}
