@use "mixins";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap%22");

body {
  font-size: 12pt;
  font-family: "Roboto", sans-serif;
  margin: 0px auto;
  width: 100%;
}

header {
  background-color: #ffffff;
  height: 50px;
  display: flex;
  border-bottom: 1px solid lightgray;
  .navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 25px;
    #cartBtn {
      .cartQuanStyle {
        background-color: orange;
        color: white;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        text-align: center;
        font-weight: bold;
        font-size: 12.5px;
        justify-content: center;
        transform: translate(22px, -30px);
        position: absolute;
      }
    }
    .brandName {
      color: black;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 4px;
      text-decoration: none;
      text-align: left;
    }
    #cartBtn {
      @include mixins.cartBtnStyle;
    }
  }
}

#cartbtn {
  position: absolute;
  .cartQuanStyle {
    position: absolute;
    color: orange;
    font-size: large;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  .thermoTitle {
    padding: 0px;
    letter-spacing: 10px;
    font-size: 40px;
    text-transform: uppercase;
  }
  .productContainerStyle {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    div {
      width: 150px;
      display: flex;
      flex-direction: column;

      Img {
        width: 100%;
      }
      h2 {
        font-size: 0.8rem;
        margin: 0px;
        padding-top: 10px;
        padding-left: 15px;
      }
      span {
        padding-left: 15px;
        font-size: 0.8rem;
      }
      span {
        padding-left: 15px;
        font-size: 0.8rem;
      }
      .sizeContainer,
      .colorContainer {
        display: flex;
        flex-direction: row;
        gap: 2px;
        font-size: 0.8rem;
        padding-left: 15px;
        button {
          height: 22px;
          width: 22px;
          border-radius: 50%;
          border: none;
          background-color: rgb(185, 184, 184);
          cursor: pointer;
        }
        .blackBtn {
          background-color: black;
        }
        .silverBtn {
          background-color: silver;
        }
        .greenBtn {
          background-color: green;
        }
        .selectedSize {
          background-color: blue;
          color: white;
        }
        #selectedColor {
          border: black 2px solid;
        }
        #selectedColorBlack {
          border: blue 2px solid;
        }
      }
      .btnDivStyle {
        width: 140px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 5px;
        .btnStyle {
          height: 22px;
          width: 22px;
          font-size: 0.8rem;
          font-style: italic;
          font-family: "Times New Roman", Times, serif;
          color: white;
          background-color: rgb(71, 71, 71);
          border: 0.8px solid white;
          border-radius: 50%;
          cursor: pointer;
          &:hover {
            background-color: rgb(154, 163, 136);
            transition: ease-in-out 0.2s;
          }
        }
        .cartBtnStyle {
          background-color: rgb(185, 184, 184);
          color: white;
          border-radius: 50%;
          border: none;
          padding: 0px;
          margin: 0px;
          height: 21px;
          width: 21px;
          font-size: 1.2rem;
          cursor: pointer;
          &:hover {
            background-color: rgb(0, 0, 0);
            transition: ease-in-out 0.2s;
          }
        }
        .inCart {
          background-color: green;
          color: white;
          border-radius: 50%;
          border: none;
          padding: 0px;
          margin: 0px;
          height: 21px;
          width: 21px;
          font-size: 1rem;
          cursor: pointer;
          &:hover {
            background-color: rgb(0, 0, 0);
            transition: ease-in-out 0.2s;
          }
        }
      }
    }
  }
}

@include mixins.modalstyle;

.quantityContainer > button {
  border-radius: 50%;
  border: none;
  background-color: rgb(185, 184, 184);
  margin: 1px;
  padding: 0px;
  margin: 0px;
  height: 21px;
  width: 21px;
  font-size: 1rem;
}
.quantityContainer > .removeBtn {
  background-color: red;
  font-size: 0.7rem;
  margin-left: 5px;
}
#cartBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  button {
    border: 1px white solid;
    border-radius: 5px;
    background-color: rgb(13, 147, 192);
    color: white;
  }
}
.productSpec {
  display: flex;
  flex-direction: column;
}

footer {
  @extend %flex;
  a {
    color: black;
    text-decoration: none;
  }
  height: 150px;
  border-top: lightgrey 1px solid;
}
@media screen and (min-width: 768px) {
  @include mixins.mediaProducts;
}
