@use "mixins";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap%22");

body {
  font-size: 12pt;
  font-family: "Roboto", sans-serif;
  margin: 0px auto;
  width: 100%;
}

header {
  background-color: #ffffff;
  height: 50px;
  display: flex;
  border-bottom: 1px solid lightgray;
  .navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 25px;
    .brandName {
      color: black;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 4px;
      text-decoration: none;
      text-align: left;
    }
    #cart {
      margin-right: 15px;
      line-height: 1;
      color: black;
      font-size: 1rem;
      text-align: right;
    }
  }
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .thermoTitle {
    padding: 0px;
    margin: 0px;
    height: 200px;
    letter-spacing: 10px;
    font-size: 40px;
    text-transform: uppercase;
  }
  .productContainerStyle {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    div {
      width: 45%;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      img {
        width: 100%;
      }
      h2 {
        font-size: 1rem;
        margin: 0px;
        padding-top: 10px;
        padding-left: 15px;
      }
      span {
        padding-left: 15px;
      }
      span {
        padding-left: 15px;
      }
      .btnStyle {
        height: 20px;
        width: 20px;
        font-size: 22.5px;
        text-transform: uppercase;
        color: white;
        background-color: rgb(58, 66, 66);
        border: 1px solid white;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          background-color: rgb(0, 221, 221);
          transition: ease-in-out 0.2s;
        }
      }
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 62%;
  height: 550px;
  border: 1px solid #888;
  justify-content: center;
  .disappear {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover,
    &:focus {
      color: black;
      cursor: pointer;
      text-decoration: none;
    }
  }
  .Jacka {
    letter-spacing: 3px;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 50px;
    position: absolute;
  }
  p {
    position: absolute;
    margin-top: 110px;
  }
}

footer {
  @extend %flex;
  a {
    color: black;
    text-decoration: none;
  }
  height: 150px;
  border-top: lightgrey 1px solid;
}
@media screen and (min-width: 768px) {
  @include mixins.mediaProducts;
}
