@use "mixins";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap%22");

body {
  font-size: 12pt;
  font-family: "Roboto", sans-serif;
  margin: 0px auto;
  width: 100%;
}

header {
  background-color: #ffffff;
  height: 50px;
  display: flex;
  border-bottom: 1px solid lightgray;
  .navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 25px;
    .brandName {
      color: black;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 4px;
      text-decoration: none;
      text-align: left;
    }
    #cart {
      margin-right: 15px;
      line-height: 1;
      color: black;
      font-size: 1rem;
      text-align: right;
    }
  }
}

main {
  height: 600px;
  display: flex;
  justify-content: center;
  .thermoTitle {
    letter-spacing: 10px;
    font-size: 40px;
    text-transform: uppercase;
  }
}

footer {
  @extend %flex;
  a {
    color: black;
    text-decoration: none;
  }
  height: 150px;
  border-top: lightgrey 1px solid;
}
@media screen and (min-width: 768px) {
  @include mixins.mediaProducts;
}
